/* About */

.about-img {
    padding-top: 8rem;
    position: relative;
    z-index: 1;
}

.about-graphics {
    .graphic {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .graphic-1 {
        top: 7rem;
        left: 1rem;
    }

    .graphic-2 {
        top: 0;
        left: 8rem;
    }

    .graphic-3 {
        top: 13rem;
        left: auto;
        right: 2rem;
    }

    .graphic-4 {
        top: 5rem;
        left: auto;
        right: 7rem;
    }
}


@media (max-width: 991.98px) {
    .about-graphics {
        .graphic-1 {
            top: 7rem;
            left: 1rem;
        }

        .graphic-2 {
            display: none;
        }

        .graphic-3 {
            top: 13rem;
            left: auto;
            right: 0rem;
        }

        .graphic-4 {
            top: 5rem;
            left: auto;
            right: 3rem;
        }
    }
}