/* Base styles */

body {
    background-color: $white;
    color: $dark-blue;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    font-family: $body-font-family;
    line-height: $line-height-base;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

body.ui-dark {
    color: lighten($dark-blue, 40);
    background-color: $bg-dark-2;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $btn-transition;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

svg {
    fill: currentColor;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-sm;
    font-weight: $font-weight-semibold;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}


.py-md {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-md {
    padding-top: 80px;
}

.pb-md {
    padding-bottom: 80px;
}

.py-lg {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pt-lg {
    padding-top: 120px;
}

.pb-lg {
    padding-bottom: 120px;
}

.my-lg {
    margin-top: 120px;
    margin-bottom: 120px;
}

.s-bg-primary {
    background: $blue;
}

.s-bg-light {
    background: $bg-light;
}

.s-bg-dark {
    background: $bg-dark;
}

.s-bg-dark-blue {
    background: $bg-dark-2;
}

.buttons .btn:not(:last-child) {
    margin-right: 30px;
}

.btn {
    font-weight: $font-weight-medium;
    min-width: 10rem;
    padding: .8rem 2rem;
    border-radius: .2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.btn-sm {
    padding: .7rem 1.5rem;
    font-size: 1rem;
}

.btn i,
.btn .icon {
    margin-right: .3rem;
    line-height: 1;
}

.btn-primary {
    color: $white;
    background-color: $blue;
    border-color: $blue;

    &:hover {
        color: $white;
        background-color: darken($blue, 10);
        border-color: darken($blue, 15);
    }

    &.focus,
    &:focus {
        color: $white;
        background-color: darken($blue, 15);
        border-color: darken($blue, 20);
        box-shadow: 0 0 0 0.2rem rgba($blue, .5);
    }
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba($blue, .5);
}

.btn-pink {
    color: $white;
    background-color: $pink;
    border-color: $pink;

    &:hover {
        color: $white;
        background-color: darken($pink, 10);
        border-color: darken($pink, 15);
    }

    &.focus,
    &:focus {
        color: $white;
        background-color: darken($pink, 15);
        border-color: darken($pink, 20);
        box-shadow: 0 0 0 0.2rem rgba($pink, .5);
    }
}

.btn-pink:not(:disabled):not(.disabled).active:focus,
.btn-pink:not(:disabled):not(.disabled):active:focus,
.show>.btn-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba($pink, .5);
}


.btn-white {
    color: $blue;
    background-color: $white;
    border-color: $white;

    &:hover {
        color: $blue;
        background-color: darken($white, 10);
        border-color: darken($white, 15);
    }

    &.focus,
    &:focus {
        color: $white;
        background-color: darken($white, 15);
        border-color: darken($white, 20);
        box-shadow: 0 0 0 0.2rem rgba($white, .5);
    }
}

.btn-white:not(:disabled):not(.disabled).active:focus,
.btn-white:not(:disabled):not(.disabled):active:focus,
.show>.btn-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba($white, .5);
}

.section-header {
    .heading {
        font-weight: $font-weight-semibold;
        margin-bottom: 1.5rem;
    }

    .subheading {
        color: $blue;
        background: lighten($blue, 40);
        font-size: $font-size-xs;
        font-weight: $font-weight-medium;
        line-height: $line-height-normal;
        letter-spacing: 2.5px;
        padding: .9rem 2rem;
        margin-bottom: 1rem;
        display: inline-block;
        border-radius: 50rem;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 0;
    }
}

.ui-dark,
.section-header-dark {
    .heading {
        color: $white;
    }

    .subheading {
        color: $blue;
        background: lighten($bg-dark, 10);
    }
}

section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.blockquote {
    border-left: 2px solid $blue;
    padding-left: 3rem;
    margin: 2rem 0;
    font-size: $font-size-lead;
}

.blockquote-footer {
    position: relative;
    color: $blue;
    font-size: $font-size-lead;
    font-weight: 500;
    padding-left: 3rem;

    &::before {
        content: "";
        width: 2rem;
        height: 2px;
        background: $blue;
        position: absolute;
        top: 50%;
        left: 0;
    }
}


/* Preloader */
#preloader-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.preloader-wave-effect {
    height: 50px;
    width: 50px;
    position: relative;
}

.preloader-wave-effect::before,
.preloader-wave-effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $blue;
    border-radius: 100rem;
    animation: 1.6s linear 0s normal none infinite running preloader-wave;
}

.preloader-wave-effect::after {
    animation-delay: -0.8s;
}

.preloader-text {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 1rem;
}

@keyframes preloader-wave {
    0% {
        opacity: 0.5;
        transform: scale(0, 0);
    }

    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
}


@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

@media (max-width: 767.98px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        padding-left: 25px;
        padding-right: 25px;
    }

    h1 {
        font-size: $h1-font-size / 1.5;
    }

    h2 {
        font-size: $h2-font-size / 1.5;
    }

    h3 {
        font-size: $h3-font-size / 1.3;
    }

    h4 {
        font-size: $h4-font-size;
    }

    h5 {
        font-size: $h5-font-size;
    }

    h6 {
        font-size: $h6-font-size;
    }

    .btn {
        font-size: $font-size-sm;
        min-width: 5rem;
        padding: 0.5rem 1rem;
    }

    .btn-lg {
        padding: .75rem 1.2rem;
    }

    .buttons .btn {
        width: 90%;
    }

    .buttons .btn:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .subheading {
        letter-spacing: 2px;
        padding: 0.5rem 1rem;
    }

    .pt-lg {
        padding-top: 80px;
    }

    .pb-lg {
        padding-bottom: 80px;
    }

    .py-lg {
        padding: 80px 0;
    }

    .pt-md {
        padding-top: 50px;
    }

    .blockquote {
        padding-left: 2rem;
        font-size: $font-size-lg;
    }

    .blockquote-footer {
        font-size: $font-size-lg;
        padding-left: 2rem;
    }
}