/* Blog */

.blog-article {
    .article-thumb {
        margin-bottom: 1.9rem;

        a {
            display: inline-block;
        }

        img {
            width: 100%;
        }
    }

    .article-details {
        margin-bottom: 1.9rem;
    }

    .article-title {
        margin-bottom: 1rem;

        a {
            display: inline-block;
        }
    }

    .read-more-btn {
        color: $blue;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        border-radius: 50rem;
        text-transform: capitalize;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        z-index: 1;

        i {
            background: lighten($blue, 40);
            font-size: 18px;
            width: 40px;
            height: 40px;
            border-radius: 50rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;

        }

        span {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-5px);
            transition: $transition;
        }

        &::before {
            content: "";
            background: lighten($blue, 40);
            border-radius: 50rem;
            width: 0;
            height: 100%;
            transition: $transition;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
        }

        &:hover {
            span {
                opacity: 1;
                visibility: visible;
                transform: none;
                transition-delay: 0.2s;
            }

            &::before {
                width: 80%;
                opacity: 1;
                visibility: visible;
            }
        }


    }
}


.article-tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;

    a {
        color: $blue;
        background: lighten($blue, 40);
        border-radius: 50rem;
        font-size: .7rem;
        font-weight: 500;
        padding: .2rem .7rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        &:hover {
            color: $pink;
            background: lighten($pink, 30);
        }
    }

    a:not(:last-child) {
        margin-right: 10px;
    }
}

@media (max-width: 767.98px) {
    .blog-article:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    .blog-article {
        .read-more-btn {
            &::before {
                width: 80%;
                opacity: 1;
                visibility: visible;
            }

            span {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// Blog Page

.page-blog {
    .blog-article {
        margin-bottom: 5rem;

        .article-details {
            p {
                font-size: $font-size-base;
            }
        }
    }
}

.breadcrumb {
    background: transparent;
    padding: 0;
    justify-content: center;

    li:not(.active):hover a {
        color: $blue;
    }
}

.pagination {
    justify-content: center;
    margin-bottom: 0;

    a {
        width: 40px;
        height: 40px;
        border-radius: 50rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .active a,
    a:hover {
        background: lighten($blue, 40);
    }
}



.sidebar-widget {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    .widget-title {
        margin-bottom: 1.5rem;
        text-transform: capitalize;
    }

    .search-form {
        .form-control {
            height: auto;
            border-radius: 0;
            box-shadow: none;
            color: inherit;
            font-size: $font-size-lg;

            &:focus {
                border-color: $blue;
            }

            &::placeholder {
                font-size: $font-size-base;
            }
        }

        .search-btn {
            min-width: auto;
            font-size: 1.5rem;
            padding: .8rem 1rem;
            border-radius: 0;

            i {
                transform: rotateY(180deg) translate(-3px, 2px);
            }
        }
    }

    .category-list {
        margin-top: -.2rem;
        margin-bottom: 0;
        padding-left: 1.3rem;
        list-style: square;

        li:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        a {
            display: inline-block;
            font-weight: $font-weight-medium;

            &:hover {
                color: $blue;
            }
        }

    }


    .recent-posts-list {

        .media {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            img {
                width: 100px;
                margin-right: 1rem;
            }

            .article-date {
                margin-bottom: 0;
                font-size: $font-size-sm;
                color: lighten($dark-blue, 40);
            }
        }
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-top: 5rem;
    }
}

// Article page
.page-article {
    .page-header {

        .article-meta,
        .article-author,
        .article-date,
        .article-comment-count {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .article-meta {
            &>div {
                padding: 1rem;
            }

            p {
                margin-bottom: 0;
                margin-left: .5rem;
            }
        }

        .article-author {
            img {
                width: 60px;
                border: 1px solid lighten($blue, 40);
            }
        }
    }

    .blog-article {
        margin-bottom: 0;

        .article-details {
            p {
                font-size: $font-size-base;
            }
        }
    }

    .article-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;

        .article-tags {
            margin-bottom: 0;

            a {
                margin-bottom: 0;
            }
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                padding: .5rem;
                font-size: $font-size-lg;
                line-height: 1;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .article-navigation {
        background: $bg-light-2;
        padding: 2rem;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .prev-post,
        .next-post {
            width: 48%;
        }

        .media {
            align-items: center;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50rem;
            }

            .article-date {
                margin-bottom: 0;
                font-size: $font-size-sm;
                color: lighten($dark-blue, 40);
            }
        }

        .prev-post {
            .media {
                img {
                    margin-right: 1rem;
                }
            }
        }

        .next-post {
            .media {
                .media-body {
                    text-align: right;
                }

                img {
                    margin-left: 1rem;
                }
            }
        }
    }

    .article-comments {
        .media {

            padding: 2rem 0;

            &:not(:last-child) {
                border-bottom: 1px solid lighten($dark-blue, 70);
            }

            &.media-reply {
                padding-left: 3rem;
            }

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin-right: 1rem;
            }

            .media-body-header {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-bottom: 1rem;

                .comment-author {
                    margin-bottom: 0;
                }

                .comment-date {
                    margin-bottom: 0;
                    font-size: $font-size-sm;
                    color: lighten($dark-blue, 40);
                }

                .reply-btn {
                    display: inline-block;
                    font-weight: $font-weight-medium;
                    color: lighten($dark-blue, 40);

                    &:hover {
                        color: $blue;
                    }
                }
            }

            .comment {
                margin-bottom: 0;
            }
        }
    }

    .post-comment-form {
        .form-control {
            height: auto;
            border-radius: 0;
            border: 1px solid $bg-light;
            background: $bg-light-2;
            padding: .8rem 1.5rem;
            box-shadow: none;

            &:focus {
                border-color: $blue;
                background: transparent;
            }

            &::placeholder {
                opacity: 1;
                color: lighten($dark-blue, 40);
            }
        }

        .custom-control-label {
            color: lighten($dark-blue, 40);

            &::before {
                border-color: lighten($dark-blue, 65);
            }
        }
    }
}



@media (max-width:767.98px) {
    .page-article {
        .page-header {
            .article-meta {
                display: none;
            }
        }

        .article-footer {
            flex-direction: column;

            .social {
                margin-top: 2rem;
            }
        }

        .article-navigation {
            display: none;
        }

        .article-comments {
            .media {

                &.media-reply {
                    padding-left: 2rem;
                }

                img {
                    width: 60px;
                    height: 60px;
                }

                .comment {
                    font-size: $font-size-sm;
                }
            }
        }

        .post-comment-form {
            .custom-control-label {
                font-size: $font-size-sm;
            }
        }
    }
}

.blog-article.ui-dark {
    .article-title {
        color: $white;
    }

    .article-tags {
        a {
            color: $blue;
            background: lighten($bg-dark, 10);

            &:hover {
                color: $pink;
                background: lighten($bg-dark, 20);
            }
        }

        a:not(:last-child) {
            margin-right: 10px;
        }
    }

    .read-more-btn {
        color: $blue;

        i {
            background: lighten($bg-dark, 10);
        }

        &::before {
            background: lighten($bg-dark, 10);
        }
    }
}