/* Callout */

.callout-section {
    .parallax-bg {
        position: absolute;
        left: 0;
        top: -10%;
        right: 0;
        margin: 0 auto;
        z-index: -2;
        width: 100%;
        height: 140%;
        object-fit: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }


    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($blue, 0.9);
    }

    .callout {
        h2 {
            margin-bottom: 50px;
        }
    }

    &.s-bg-dark {
        &::before {
            background: rgba($blue, 0.9);
        }
    }
}

@media (min-width: 1600px) {
    .callout-section {
        width: calc(100% - 320px);
        margin: 0 auto;
    }
}
