/* Contact */

.contact-card {
    .icon {
        font-size: $h1-font-size;
        color: $blue;
        margin-bottom: 1rem;
        transition: $transition;
    }

    p {
        font-size: $font-size-lg;
        font-weight: $font-weight-medium;

        a {
            color: $dark-blue;

            &:hover {
                color: $blue;
            }
        }
    }

    &:hover {
        .icon {
            color: $pink;
        }
    }
}

.map-section {
    position: relative;
    z-index: 1;

    .gmap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.contact-form {
    background: $white;
    border-radius: .2rem .2rem 0 0;
    padding: 4rem;
    margin-top: 8rem;

    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    .form-control {
        font-weight: $font-weight-medium;
        font-size: $font-size-lg;
        height: auto;
        padding: .7rem 1rem;
        border-radius: .2rem;
        box-shadow: none;
        background: lighten($blue, 46);
        border-color: lighten($blue, 42);
        transition: border-color .2s ease-in-out, background-color .2s ease-in-out;

        &:focus {
            background: $white;
        }

        &::placeholder {
            font-size: $font-size-sm;
        }
    }
}

.subscription-box {
    text-align: center;
    p {
        font-weight: $font-weight-medium;
        margin-bottom: 0;
    }
}

.subscription-form {
    background: $blue url(../img/shapes/dotted-map.png) no-repeat top center;
    padding: 3rem 4rem;
    margin-bottom: 2rem;
    border-radius: .2rem;

    .form-group {
        position: relative;
        margin-bottom: 0;
    }

    .form-control {
        font-weight: $font-weight-medium;
        font-size: $font-size-lg;
        height: auto;
        padding: 1.2rem 2rem;
        border-radius: .2rem;
        border: 0;
        box-shadow: none;

        &::placeholder {
            font-size: $font-size-sm;
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7px;
    }
}

@media (max-width: 991.98px) {
    .map-section {    
        .gmap {
            width: 100%;
            height: 500px;
            position: static;
        }
    }
    .contact-form {
        border-radius: 0;
        margin-top: 2rem;
    }
}

@media (max-width: 991.98px) {
    .contact-section {
        .heading {
            margin-bottom: 0;
            br {
                display: none;
            }
        }
    }
    .map-section {    
        .gmap {
            height: 400px;
        }
    }
    .contact-form {
        padding: 0;
        margin-top: 5rem;
    }

    .subscription-form {
        padding: 1rem;
        margin-bottom: 1rem;
    
        .form-control {
            font-size: $font-size-sm;
            padding: 1rem;
        }
    }
}