/* Corona Information */
.corona-updates-section {
    margin-top: -100px;
    overflow: visible;

    .corona-updates-inner {
        background: $white;
        padding: 3rem;
        box-shadow: 0px 30px 65px 0px rgba(0, 12, 65, 0.15);
    }

    .s-bg-dark-blue {
        background: $bg-dark-2;
        border: 1px solid $blue;
    }

    &.style-2 {
        .corona-updates-inner {
            background: transparent;
            padding: 0;
            box-shadow: none;
        }
    }
}

.statistics-card {
    .statistics-card-inner {
        border: 1px solid lighten($blue, 40);
        border-bottom-width: 3px;
        padding: 2rem;
        position: relative;
        z-index: 1;
    }

    p {
        font-weight: $font-weight-medium;
        margin-bottom: 0;
    }

    .shape {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: -1;
        width: 55px;
        filter: invert(99%) sepia(9%) saturate(793%) hue-rotate(173deg) brightness(98%) contrast(99%);
        transition: $transition;
    }

    &.card-info {
        .statistics-card-inner {
            border-bottom-color: $cyan;
        }

        .data-header {
            color: $cyan;
        }

        &:hover {
            .shape {
                filter: invert(63%) sepia(97%) saturate(356%) hue-rotate(139deg) brightness(87%) contrast(82%);
            }
        }
    }

    &.card-danger {
        .statistics-card-inner {
            border-bottom-color: $red;
        }

        .data-header {
            color: $red;
        }

        &:hover {
            .shape {
                filter: invert(41%) sepia(15%) saturate(5602%) hue-rotate(333deg) brightness(92%) contrast(96%);
            }
        }
    }

    &.card-success {
        .statistics-card-inner {
            border-bottom-color: $green;
        }

        .data-header {
            color: $green;
        }

        &:hover {
            .shape {
                filter: invert(86%) sepia(21%) saturate(7347%) hue-rotate(102deg) brightness(89%) contrast(78%);
            }
        }
    }

    &.card-warning {
        .statistics-card-inner {
            border-bottom-color: $yellow;
        }

        .data-header {
            color: $yellow;
        }

        &:hover {
            .shape {
                filter: invert(75%) sepia(36%) saturate(814%) hue-rotate(354deg) brightness(103%) contrast(93%);
            }
        }
    }

}


.s-bg-dark-blue {
    .statistics-card {
        .statistics-card-inner {
            border: 1px solid darken($blue, 40);
            background: $bg-dark;
        }

        .shape {
            filter: invert(7%) sepia(7%) saturate(6094%) hue-rotate(203deg) brightness(92%) contrast(91%);
        }

        &.card-info {
            .statistics-card-inner {
                border-bottom-color: $cyan;
            }

            &:hover {
                .shape {
                    filter: invert(63%) sepia(97%) saturate(356%) hue-rotate(139deg) brightness(87%) contrast(82%);
                }
            }
        }

        &.card-danger {
            .statistics-card-inner {
                border-bottom-color: $red;
            }

            &:hover {
                .shape {
                    filter: invert(41%) sepia(15%) saturate(5602%) hue-rotate(333deg) brightness(92%) contrast(96%);
                }
            }
        }

        &.card-success {
            .statistics-card-inner {
                border-bottom-color: $green;
            }

            &:hover {
                .shape {
                    filter: invert(86%) sepia(21%) saturate(7347%) hue-rotate(102deg) brightness(89%) contrast(78%);
                }
            }
        }

        &.card-warning {
            .statistics-card-inner {
                border-bottom-color: $yellow;
            }

            &:hover {
                .shape {
                    filter: invert(75%) sepia(36%) saturate(814%) hue-rotate(354deg) brightness(103%) contrast(93%);
                }
            }
        }
    }
}


@media (max-width: 991.98px) {
    .statistics-card:not(:nth-last-child(-n+2)) {
        margin-bottom: 1.9rem;
    }
}


@media (max-width: 767.98px) {
    .corona-updates-section {
        margin-top: -50px;

        .corona-updates-inner {
            padding: 1.9rem;
        }

        .section-header {
            .heading {
                font-size: 1rem;
            }
        }
    }

    .statistics-card {
        p {
            font-size: $font-size-sm;
        }
    }

    .statistics-card:not(:nth-last-child(-n+1)) {
        margin-bottom: 1.9rem;
    }
}

.corona-map-section {
    margin-top: -100px;
    position: relative;
    z-index: 1;

    iframe {
        border: 1px solid $red;
        width: 100%;
        height: 600px;
    }
}

@media (max-width: 767.98px) {
    .corona-map-section {
        margin-top: -50px;
    
        iframe {
            height: 200px;
        }
    }
}