/* Faq */

.faq-tab {
    .nav-link {
        border-radius: 3px;
        padding: .8rem 1rem;
        font-size: 1.125rem;
        font-weight: $font-weight-semibold;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: $white;
        background-color: $blue;
    }
}


.accordion-card {
    margin-bottom: 30px;
    background: $white;
    border-radius: .25rem;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    .card-header {
        padding: 0;
        margin-bottom: 0;
        background: $white;
        border-bottom: 0;

        .btn {
            color: inherit;
            font-size: 1.125rem;
            font-weight: $font-weight-semibold;
            width: 100%;
            padding: 1.2rem 2rem;
            text-align: left;
            justify-content: space-between;
            text-decoration: none;

            .icon {
                font-family: 'Line Awesome Free';
                font-weight: 900;
                font-size: 1.5rem;
                position: relative;
                left: .5rem;
            }

            .icon:before {
                content: "\f055";
            }

            &[aria-expanded="true"] .icon:before {
                content: "\f056";
            }

            .icon,
            i {
                margin: 0;
            }
        }
    }

    .card-body {
        padding: 0 2rem 1.5rem;
    }
}

.tab-content.ui-dark {
    .accordion-card {
        background: $bg-dark-2;

        .card-header {
            background: $bg-dark-2;
            color: $white;
        }
    }
}

@media (max-width: 767.98px) {
    .nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        .nav-link {
            white-space: nowrap;
            padding: 0.5rem 1rem;
            font-size: $font-size-sm;
            background: lighten($blue, 40);
            color: $blue;
            margin-right: 5px;
            margin-bottom: 5px;

            &.active {
                background: $blue;
                color: $white;
            }
        }

        &.ui-dark {
            .nav-link {
                color: $blue;
                background: lighten($bg-dark, 10);
                &.active {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }

    .accordion-card {
        .card-header .btn {
            font-size: 1rem;
            padding: .75rem 1rem;
        }

        .card-body {
            padding: 0 2rem 1.5rem;
            font-size: $font-size-sm;
        }
    }
}