/* Footer */
.footer {
    color: lighten($dark-blue, 40);
    font-size: $font-size-sm;
}

.footer-top {
    position: relative;
    z-index: 1;

    .graphics {
        .graphic {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                filter: invert(9%) sepia(35%) saturate(831%) hue-rotate(202deg) brightness(92%) contrast(90%);
                opacity: 0.8;
                max-width: 100%;
            }
        }

        .graphic-1 {
            width: 80px;
            top: auto;
            bottom: 1rem;
            left: 2rem;
        }

        .graphic-2 {
            width: 60px;
            top: 3rem;
            left: 35rem;
        }

        .graphic-3 {
            width: 120px;
            top: auto;
            bottom: -4rem;
            left: auto;
            right: 10rem;
        }

        .graphic-4 {
            width: 80px;
            top: 5rem;
            left: auto;
            right: 5rem;
        }
    }
}

@media (max-width: 991.98px) {
    .footer-top {
        .graphics {
            .graphic-2 {
                width: 60px;
                top: 3rem;
                left: 10rem;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .footer-top {
        .graphics {
            .graphic-1 {
                display: none;
            }

            .graphic-4 {
                top: 50%;
                left: auto;
                right: 2rem;
            }
        }
    }
}

.footer-widget {
    .f-widget-title {
        color: $white;
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    &.covid-fund h5 {
        color: $white;
    }

    .footer-logo {
        margin-bottom: 1.25rem;
        display: inline-block;

        img {
            max-width: 135px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            display: inline-block;
            padding: .25rem 0;

            &:hover {
                color: $pink;
            }
        }
    }

    ul:not(.social) {
        li:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .social {
        display: flex;
        align-items: center;
        margin-left: -.5rem;

        a {
            padding: .5rem;
            font-size: $font-size-lg;
            line-height: 1;

            &:hover {
                color: $pink;
            }
        }

    }
}

.footer-bottom {
    position: relative;
    z-index: 1;
}

@media (max-width: 767.98px) {
    .footer-widget {
        ul:not(.social) {
            li:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }


    .f-bottom-info p br {
        display: none;
    }
}

.footer {
    &.style-2 {
        padding-top: 300px;
        margin-top: -300px;
    }
}