/* Hand wash */

.hand-washing-steps {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-gap: 30px;
    justify-content: space-between;
    text-align: center;

    .step {
        .img-box {
            height: 100px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            max-width: 100px;
            max-height: 100px;
        }
    }


}

@media (max-width: 1199.98px) {
    .hand-washing-steps {
        grid-template-columns: repeat(6, 120px);
        grid-gap: 20px;
    }

    .step h5 {
        font-size: 1rem;
    }
}

@media (max-width: 991.98px) {
    .hand-washing-steps {
        grid-template-columns: repeat(3, 200px);
        grid-gap: 30px;
    }
}

@media (max-width: 991.98px) {
    .hand-washing-steps {
        grid-template-columns: repeat(2, 1fr);
    }
}

.hand-washing-steps {
    &.style-2 {
        display: flex;
        justify-content: space-between;
        counter-reset: number;

        .step {
            width: 140px;
            position: relative;
            padding-top: 2rem;

            &::before {
                counter-increment: number;
                content: counter(number);
                width: 30px;
                height: 30px;
                border-radius: 50rem;
                color: $blue;
                background: lighten($blue, 40);
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;

                position: absolute;
                top: 0;
                left: 1rem;
            }

            &:nth-child(1) {
                margin-top: 450px;
            }

            &:nth-child(2) {
                margin-top: 200px;
                margin-left: -175px;
            }

            &:nth-child(3) {
                left: -25px;
            }

            &:nth-child(4) {
                right: -25px;
            }

            &:nth-child(5) {
                margin-top: 200px;
                margin-right: -175px;
            }

            &:nth-child(6) {
                margin-top: 450px;
            }

            .img-box {
                margin-bottom: 15px;
            }

            &.ui-dark {
                &::before {
                    color: $blue;
                    background: lighten($bg-dark, 10);
                }
            }
        }
    }

}

.hand-washing-steps-section.style-2 {
    .hand-wash-img {
        margin-top: -430px;
        margin-bottom: -70px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:991.98px) {
    .hand-washing-steps-section.style-2 {
        .hand-wash-img {
            width: 450px;
            margin-bottom: -40px;
        }
    }
}

@media (max-width:767.98px) {
    .hand-washing-steps-section.style-2 {
        .hand-wash-img {
            width: 100%;
            max-width: 450px;
            margin-top: 0;
        }
    }

    .hand-washing-steps {
        &.style-2 {
            flex-wrap: wrap;

            .step {
                width: 140px;
                position: relative;
                padding-top: 2rem;

                margin: 0 !important;
                left: 0 !important;
                right: 0 !important;
                margin-bottom: 30px !important;
            }
        }

    }
}