/* Hero */

.hero-section {
    padding-top: 180px;

    .container {
        position: relative;
        z-index: 1;
    }

}

.hero-content {
    h1 {
        font-weight: $font-weight-semibold;
        margin-bottom: 1.8rem;
    }
}

.ui-dark {
    .hero-content {

        h1,
        h2,
        h3,
        h4 {
            color: $white;
        }
    }
}

.hero-graphics {
    .graphic {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .graphic-1 {
        top: 10rem;
        left: 9rem;
    }

    .graphic-2 {
        top: 9rem;
        left: auto;
        right: 9rem;
    }

    .graphic-3 {
        top: 50%;
        left: -5rem;
    }

    .graphic-4 {
        top: 50%;
        left: auto;
        right: -5rem;
    }
}

@media (max-width: 991.98px) {
    .hero-graphics {
        .graphic-1 {
            top: 0rem;
            left: -4rem;
        }

        .graphic-2 {
            top: 17rem;
            left: auto;
            right: -4rem;
        }

        .graphic-3,
        .graphic-4 {
            display: none;
        }
    }
}

@media (max-width: 767.98px) {
    .hero-section {
        padding-top: 120px;
    }

    .hero-img {
        margin: 1.5rem 0;
    }

    .hero-graphics {
        .graphic-1 {
            left: -3rem;
        }

        .graphic-2 {
            top: 15rem;
            left: auto;
            right: -4rem;
        }
    }
}

// Style 2
.hero-section {
    &.style-2 {
        .hero-graphics {
            .graphic img {
                filter: invert(100%) sepia(1%) saturate(119%) hue-rotate(44deg) brightness(119%) contrast(100%);
                opacity: 0.8;
            }

            .graphic-1 {
                width: 80px;
                top: 15rem;
                left: -12rem;
            }

            .graphic-2 {
                width: 80px;
                top: -2rem;
                left: 35%;
            }

            .graphic-3 {
                width: 140px;
                top: auto;
                bottom: -3rem;
                left: 55%;
            }

            .graphic-4 {
                width: 80px;
                top: 2rem;
                left: auto;
                right: -5rem;
            }
        }
    }
}

.update-date {
    font-size: $font-size-sm;

    span {
        color: $red;
        font-weight: $font-weight-semibold;
        padding-left: .8rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-10%);
            left: 0;
            width: .4em;
            height: .4em;
            border-radius: 50rem;
            background: $red;
            animation: live 1.5s infinite;
        }
    }
}

@keyframes live {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 1599.98px) {
    .hero-section {
        &.style-2 {
            .hero-graphics {
                .graphic-1 {
                    left: -6rem;
                }
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .hero-section {
        &.style-2 {
            .hero-img img {
                width: 500px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .hero-section {
        &.style-2 {
            .hero-content {
                text-align: center;
            }

            .corona-statistics {
                justify-content: center;
            }

            .hero-img {
                text-align: center;
                margin-top: 2rem;
            }

            .hero-img img {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .hero-section {
        &.style-2 {
            .hero-img img {
                width: auto;
                max-width: 100%;
            }

            .hero-graphics {

                .graphic-1,
                .graphic-3,
                .graphic-4 {
                    display: none;
                }

            }
        }
    }
}

.hero-section {
    &.s-bg-dark {
        .hero-graphics {
            .graphic img {
                filter: invert(7%) sepia(7%) saturate(6094%) hue-rotate(203deg) brightness(92%) contrast(91%);
            }
        }
    }
}


// Style 3
.hero-section {
    &.style-3 {
        background: url(../img/bg/2.png) no-repeat top center / auto 100%;
        overflow-y: visible;

        .anim-icon {
            margin-left: -25px;
        }

        .btn-white {
            border: 1px solid $blue;
            color: $dark-blue;

            i {
                color: $red;
                font-size: $font-size-lg;
                transition: $transition;
            }

            &:hover {
                background: $blue;
                color: $white;

                i {
                    color: $white;
                }
            }
        }

        .hero-img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;

            #scene {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;

                .layer {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    display: inline-flex;
                    align-items: center;
                    justify-self: center;

                    .elem {
                        position: relative !important;
                    }

                    &.one {
                        position: relative;
                    }

                    &.three {
                        top: auto;
                        bottom: 2rem;
                    }

                    &.four {
                        left: auto;
                        right: 0;
                        top: 10rem;
                    }

                    &.five {
                        top: auto;
                        left: auto;
                        bottom: 1rem;
                        right: 2rem;
                    }
                }
            }
        }

        .hero-graphics {
            .graphic-1 {
                top: 70%;
                left: -10%;
            }

            .graphic-2 {
                top: 20%;
                left: auto;
                right: -10%;
            }
        }

        &.s-bg-dark {
            background: url(../img/bg/3.png) no-repeat top center / auto 100%;
        }
    }
}

@media (max-width: 1439px) {
    .hero-section {
        &.style-3 {
            .hero-img {
                transform: scale(0.9);
                top: -2rem;
            }

            #scene {
                .layer {
                    transform: scale(0.9);
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .hero-section {
        &.style-3 {
            padding-top: 120px;

            .hero-content {
                text-align: center;

                .anim-icon {
                    margin-left: auto;
                    margin-right: auto;
                }

                p {
                    width: 72%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .hero-img {
                top: 0;
            }

            #scene {
                text-align: center;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .hero-section {
        &.style-3 {
            padding-top: 100px;
            padding-bottom: 50px;

            .hero-content {
                p {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .hero-graphics {
                .graphic-1 {
                    top: 80%;
                    left: -2rem;
                }
    
                .graphic-2 {
                    top: 60%;
                    right: -3rem;
                }
            }
        }
    }
}