/* Important links / donation */
.donation-cta {
    padding: 80px 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .cta-img {
        position: absolute;
        bottom: -5rem;
        left: -5rem;
    }

    .cta-text {
        width: 60%;
        margin-left: auto;
    }

    .hashtag {
        color: $blue;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
    }
}

.imp-links {
    padding-left: 2rem;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        position: relative;
        padding-left: 1rem;
        margin-bottom: 1rem;

        &::before {
            content: "\2022";
            color: $red;
            position: absolute;
            left: 0;
            top: 0;
        }

        a {
            display: block;
            font-weight: $font-weight-medium;

            &:hover {
                color: $blue;
            }
        }
    }
}

@media (max-width: 767.98px) {

    .donation-cta {
        padding: 50px;

        .cta-img {
            bottom: -2rem;
            left: auto;
            right: -2rem;
            margin: 0 auto;
            width: 50%;
        }

        .cta-text {
            width: 100%;
            margin-left: auto;
        }
    }

    .imp-links {
        padding-left: 0;
    }
}