/* Navbar */
.navbar {
    padding: 2.5rem 0;
    transition: $transition;

    &.scrolled {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-brand {
        padding: 0;
        margin-right: 0;

        img {
            max-width: 170px;
        }
    }

    .navbar-nav {
        .nav-link {
            font-weight: $font-weight-medium;
            padding: .5rem 1rem;
        }
    }
}

.navbar-light {
    &.scrolled {
        background: $white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1)
    }

    &.bg {
        background: $white;
    }

    .navbar-nav {
        .nav-link {
            color: $dark-blue;

            &.active {
                color: $blue;
            }
        }
    }
}

.navbar-dark {
    &.scrolled {
        background: $bg-dark;
        box-shadow: 0 5px 10px rgba(25, 25, 44, .7)
    }

    &.bg {
        background: $bg-dark;
    }

    .navbar-nav {
        .nav-link {
            color: lighten($dark-blue, 40);

            &.active {
                color: $pink;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .navbar {
        .navbar-brand img {
            max-width: 120px;
        }

        .navbar-nav .nav-link {
            padding: 0.5rem .8rem;
        }

        .navbar-cta .btn {
            min-width: auto;
            padding: .8rem 1.5rem;
        }
    }
}

@media (max-width: 991.98px) {
    .navbar {
        .navbar-nav {
            padding-top: 2rem;
            text-align: center;
        }

        .navbar-toggler {
            color: $dark-blue;
            padding: 0;
            border: 0;
            border-radius: 2px;
            font-size: 1.9rem;
            line-height: 1;
            width: 1.9rem;
            height: 1.9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 2px solid rgba($dark-blue, 0);

            &:hover,
            &:focus {
                outline: 2px solid rgba($dark-blue, 0.7);
            }
        }
    }
}

@media (max-width: 767.98px) {
    .navbar {
        padding: 1.5rem 1.5rem;
    }

}