/* Prevention */

.prevention-card-inner {
    padding: 0 20px;
    margin-top: 3rem;

    .icon {
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 0;
    }
}

.ui-dark {
    .prevention-card-inner {
        h4 {
            color: $white;
        }
    }
}

@media (max-width: 1199.98px) {
    .prevention-card-inner {
        padding: 0 5px;
    }
}

@media (max-width: 767.98px) {
    .prevention-card-inner {
        padding: 0 15px;
    }
}