/* Protection */
.protection-tips-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.protection-tips {
    .tips-header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        .icon {
            width: 2rem;
            height: 2rem;
            border-radius: 50rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
        }

        h3 {
            margin-bottom: 0;
        }
    }

    ul {
        margin: 0;
        padding-left: 4.3rem;
        list-style: none;
    }

    li {
        font-size: $font-size-lg;
        font-weight: $font-weight-medium;
        margin-bottom: .5rem;

        &::before {
            content: "\2022";
            color: $blue;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }

    &.dos {
        .icon {
            background: $blue;
            color: $white;
        }

        li {
            &::before {
                color: $blue;
            }
        }
    }

    &.donts {
        .icon {
            background: $red;
            color: $white;
        }

        li {
            &::before {
                color: $red;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .protection-img {
        width: 30%;
    }
}

@media (max-width: 991.98px) {
    .protection-tips-wrapper {
        flex-wrap: wrap;
    }

    .protection-img {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .protection-tips {
        width: 50%;
        margin-top: 3rem;
    }
}

@media (max-width: 767.98px) {
    .protection-tips-wrapper {
        flex-direction: column;
    }

    .protection-tips {
        width: auto;

        .tips-header {
            margin-bottom: 1rem;
        }

        li {
            font-size: $font-size-base;
        }
    }
}

@media (max-width: 599.98px) {

    .protection-tips {
        width: 100%;
    }
}