/* Symptoms */

.covid-symptoms-section {

    .graphics {
        .graphic {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.7;

            img {
                filter: invert(100%) sepia(1%) saturate(119%) hue-rotate(44deg) brightness(119%) contrast(100%);
                opacity: 0.8;
                max-width: 100%;
            }
        }

        .graphic-1 {
            width: 160px;
            top: -5rem;
            left: 5rem;
        }

        .graphic-2 {
            width: 80px;
            top: 60%;
            left: 17rem;
        }

        .graphic-3 {
            width: 55px;
            top: auto;
            bottom: 5rem;
            left: 22rem;
        }

        .graphic-4 {
            width: 80px;
            top: 20rem;
            right: 3rem;
            left: auto;
        }

        .graphic-5 {
            width: 160px;
            top: 30rem;
            right: 7rem;
            left: auto;
        }

        .graphic-6 {
            width: 55px;
            top: 45rem;
            right: 1rem;
            left: auto;
        }
    }
}

.symptom-card-inner {
    border-radius: 3px;
    background-color: $white;
    padding: 0 20px;
    transition: $transition;
    margin-top: 4rem;

    .card-img {
        margin-bottom: 1.5rem;

        img {
            max-height: 150px;
            transition: $transition;
        }
    }

    h4 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 0;
    }
}

.callout-row {
    margin-top: 110px;
}

@media (max-width: 1199.98px) {
    .symptom-card-inner .card-img {
        margin-top: 0;
    }
}

@media (max-width: 767.98px) {
    .covid-symptoms-section {
        .graphics {
            .graphic-5 {
                display: none;
            }
        }
    }

    .callout-row {
        margin-top: 70px;
    }
}



.covid-symptoms-section.s-bg-dark {
    .graphics {
        .graphic {
            img {
                filter: invert(7%) sepia(7%) saturate(6094%) hue-rotate(203deg) brightness(92%) contrast(91%);
            }
        }
    }

    .symptom-card-inner {
        background: $bg-dark-2;

        h4 {
            color: $white;
        }
    }
}

.symptom-card {
    &.style-2 {
        .symptom-card-inner {
            background: transparent;
            box-shadow: none;
        }
    }

}