/* Team */

.team-member {
    margin-bottom: -3rem;
    text-align: center;

    .team-member-inner {
        position: relative;
        z-index: 1;
    }

    .img-box {
        background: lighten($blue, 40);
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 340px;
        overflow: hidden;
    }

    .member-details {
        text-align: center;
        transition: $transition;
        position: relative;
        top: 0;
        padding: 1.5rem;
        width: calc(100% - 2rem);
        margin: 0 auto;

        h5 {
            margin-bottom: .3rem;
        }

        p {
            font-size: $font-size-sm;
        }

        .member-contact {
            transition: $transition;
            opacity: 0;
            visibility: hidden;

            a {
                display: block;
                color: $blue;

                &:hover {
                    color: $pink;
                }
            }
        }
    }
}

.team-member-inner {
    &:hover {
        .member-details {
            top: -5rem;
            box-shadow: 0 0 .3rem 0 rgba(0,0,0,0.1);
            background: $white;
    
            .member-contact {
                transition: $transition;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media (max-width:1199px) {
    .team-member {
        .img-box {
            height: 270px;
        }
        .member-details {
            padding: 1.5rem 1rem;
            .member-contact {
                a {
                    font-size: $font-size-sm;
                }
            }
        }

    }
}

.team-member {
    &.ui-dark {
        .team-member-inner {
            &:hover {
                .member-details {
                    background: $bg-dark;
                }
            }
        }
    }
}