/* Transmission */

.transmission-card {
    padding: 30px 25px;
    border: 1px solid rgba($blue, 0.1);
    border-radius: 3px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    transform: none;
    transition: $transition;

    &:hover {
        transform: translateY(-10px);
        background-color: $white;
        border-color: transparent;
        box-shadow: 0px 15px 35px 0px rgba($dark-blue, 0.1);
    }


    img {
        max-height: 220px;
        margin-bottom: 1.5rem;
    }

    h4 {
        margin-bottom: 0;
        font-weight: $font-weight-medium;
    }

    &.ui-dark {
        border: 1px solid rgba($bg-dark, 1);

        &:hover {
            background-color: $bg-dark;
            box-shadow: 0px 15px 35px 0px rgba($dark-blue, 0.2);
        }
    }

    &.style-2 {
        border: none;
        .img-box {
            width: 185px;
            height: 185px;
            object-fit: contain;
            border-radius: 50rem;
            background: $bg-light;
            overflow: hidden;
            padding: 1rem;
            margin: 0 auto 2rem;
        }
    }
}

.text-link {
    color: $blue;
    border-bottom: 1px solid $blue;
    padding-bottom: 2px;
    font-weight: 500;

    &:hover {
        border-bottom-color: transparent;
        color: $pink;
    }
}

@media (max-width: 1199.98px) {

    .transmission-card {
        padding: 30px 20px;

        img {
            max-height: 150px;
            margin-bottom: 1rem;
        }

        h4 {
            font-size: 1rem;
        }
    }
}