    // Colors 
    $white: #ffffff;
    $black: #000000;
    $blue: #0d6bff;
    $dark-blue: #323a46;
    $pink: #ff4f7b;
    $cyan: #36b9cc;
    $red: #e74a3b;
    $green: #1cc88a;
    $yellow: #f6c23e;
    $bg-light: #f1f5f8;
    $bg-light-2: #f7f9fe;
    $bg-dark: #111120;
    $bg-dark-2: #19192c;

    // Fonts 
    $body-font-family: 'Barlow',
    sans-serif;
    $display-font-family: 'Barlow',
    sans-serif;

    // Font sizes
    $font-size-xs: 0.75rem;
    $font-size-sm: 0.875rem;
    $font-size-base: 1rem;
    $font-size-lg: 1.125rem;
    $font-size-lead: 1.25rem;
    $h1-font-size: 3rem;
    $h2-font-size: 2.25rem;
    $h3-font-size: 1.5rem;
    $h4-font-size: 1.313rem;
    $h5-font-size: 1.125rem;
    $h6-font-size: 1rem;

    // Font Weights
    $font-weight-light: 300;
    $font-weight-normal: 400;
    $font-weight-medium: 500;
    $font-weight-semibold: 600;
    $font-weight-bold: 700;
    $font-weight-bolder: 900;

    // Line Heights
    $line-height-normal: 1;
    $line-height-sm: 1.3;
    $line-height-base: 1.5;
    $line-height-lg: 1.7;

    // Transitions
    $transition: all .2s ease-in-out;
    $btn-transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    border-color .2s ease-in-out,
    box-shadow .2s ease-in-out